@charset 'utf-8';

@font-face {
  font-family: Flutterwave;
  font-weight: 400;
  src: local("Flutterwave"),
    url("~@/assets/fonts/5da28fe.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-weight: 700;
  font-style: normal;
  src: local("Flutterwave"),
    url("~@/assets/fonts/8acb0e3.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-weight: 900;
  src: local("Flutterwave"),
    url("~@/assets/fonts/2b2a06b.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-style: italic;
  src: local("Flutterwave"),
    url("~@/assets/fonts/FLW-Italic.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

//layout
@import "layout/reset";
@import "layout/variable";

//mixin
@import "utils/mixins";

html {
  height: 100%;
  overflow: hidden;
}
body {
  background: $background-color;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
}
.hidden {
  display: none;
}
a:hover {
  opacity: 0.88;
}
button {
  &:hover {
    opacity: 0.88;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: inherit;
  border: 0;
  background: $white;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}