// main colors
$primary-color: #F5A623;
$background-color: #F2F2F2;;
$secondary-color: #4F4F4F;
$tertiary-color: #4A4A4A;
$text-color:  #333333;
$sub-color: #12122C;
$white: #ffffff;
$black: #000000;
$red: #EB5757;
$green: #219653;

//Typography
$font-primary: Flutterwave,sans-serif;
$font-secondary: "SF Display";
$font-tertiary:'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$base-heading: 2.25rem;


$border-color: #E0E0E0;
$input-color: #FDFDFD;
$btn-color:#F5A623;
$input-border: lighten($text-color, 40%);